# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native builds
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Testing
coverage/

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
*.pem

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# EAS
.easignore
